<div class="w-100">
    <div class="card w-50 mx-auto my-5 border-0 shadow-sm">
        <div class="card-body text-center">
            <h2 class="card-title">Welcome</h2>
            <p class="card-text mb-1">Id: <%= user._id %></p> <!-- Replace 'name' with the actual property name in your User model -->
            <p class="card-text">Email: <%= user.email %></p> <!-- Replace 'email' with the actual property name in your User model -->
            <!-- Add more user details as needed -->
        </div>
    </div>
</div>
<script>
    console.log('home ejs');
</script>